<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>

    <!-- Custom styles for this template -->
    <link href="~/Content/Index/carousel.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="~/Content/Layout/search-input.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

    @{
        var nombreTienda = "";
        var urlTienda = "";

        if (Session["TiendaNombre"] != null)
        {
            nombreTienda = (string)Session["TiendaNombre"];
            urlTienda = "/TiendaUser/Index/" + (int)Session["TiendaId"];
        }
        else
        {
            nombreTienda = "Crear Tienda";
            urlTienda = "/Home/CrearTienda";
        }
    }
</head>
<!--background-color: #ffeb74 / #f3f3f3-->
<body style="background-color: #f3f3f3">
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #ffd800">
        <a class="navbar-brand" href="#">Dullin</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="~/">Inicio <span class="sr-only">(current)</span></a>
                </li>
            </ul>
            <div style="width:100%">
                @{
                    Html.RenderAction("_CategoriesPartial", "Layout");
                }
            </div>
        </div>
    </nav>
    <ul class="nav justify-content-end" style="background-color:#ffeb74">
        @if (Session["Rol"] != null)
        {
            <li class="nav-item">
                <a class="nav-link active" style="color:#565656" href="/Login/CerrarSesion"><i class="fas fa-sign-in-alt"></i> Cerrar Sesión</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" style="color:#565656" href="@urlTienda"><i class="fas fa-store"></i> @nombreTienda</a>
            </li>
        }
        else
        {
            <li class="nav-item">
                <a class="nav-link active" style="color:#565656" href="/Login/Registrate"><i class="fas fa-user-plus"></i> Crear Cuenta</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="color:#565656" href="/Login/IniciarSesion"><i class="fas fa-sign-in-alt"></i> Ingresa</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="color:#565656" href="#"><i class="fas fa-store"></i> Crea una Tienda</a>
            </li>
        }


    </ul>
    @RenderBody()
    <br />

    @RenderSection("scripts", required: false)

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/6e60627bfa.js" crossorigin="anonymous"></script>
</body>
</html>
