@model IEnumerable<TiendaOnline.Models.Cotizacion>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutTienda.cshtml";
    Session["TITULO"] = "COTIZACIONES";
}


@if (Model != null)
{
    <table class="table table-striped">
    <thead class="bg-card-color">
        <tr>
            <th class="text-center" scope="col">#</th>
            <th class="text-center" scope="col">DOC.</th>
            <th class="text-center" scope="col">Código</th>
            <th class="text-center" scope="col">Fecha</th>
            <th class="text-center" scope="col">Acción</th>
        </tr>
    </thead>
    <tbody>
        @{ int contFilas = 0;}
        @foreach (var item in Model)
        {
            contFilas++;
        <tr>
            <th class="text-center" scope="row">@contFilas</th>
            <td class="text-center"><a class="btn bg-card-color" href='@Url.Action("VerCotizacion", "Cotizacion", new { id = item.Id })' style="color:white">Ver Documento</a></td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.Codigo)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td class="text-center">
                @Html.ActionLink("EliminarCotizacion", "EliminarCotizacion", new { id = item.Id })
            </td>
        </tr>
        }
    </tbody>


</table>
}

