@model IEnumerable<TiendaOnline.Models.Cotizacion>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutTienda.cshtml";
}
<p>
    @Html.ActionLink("Create New", "Create")
</p>

@if (Model != null)
{
    <table class="table">
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.Codigo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td class="text-center"><a class="btn btn-primary" href='@Url.Action("VerCotizacion", "Cotizacion", new { id = item.Id })' style="color:white">Ver Documento</a></td>
                <td>
                    @Html.DisplayFor(modelItem => item.Codigo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fecha)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
}

