@model TiendaOnline.Models.Servicio

@{
    ViewBag.Title = "VerServicio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/VerProducto/product-view.css" rel="stylesheet">

<br />
<nav aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-style" style="margin-left:15px; margin-right:15px;">
        <li class="breadcrumb-item"><a href="#">Inicio</a></li>
        <li class="breadcrumb-item"><a href="#">@Model.Tienda.Nombre</a></li>
        <li class="breadcrumb-item active" aria-current="page">@Model.Nombre</li>
    </ol>
</nav>
<div class="card" style="margin-left: 15px;
        margin-right: 15px;
        background-color: #fff;
        border-radius: 0px !important;
        margin-top: 0px !important">

    <div class="container-fliud">
        <div class="wrapper row">
            <div class="preview col-md-6">

                <div class="preview-pic tab-content">
                    @{

                        int cont_pic = 1;
                        foreach (var imagen in Model.Imagenes)
                        {
                            string picNum = "pic-" + cont_pic;
                            string classPic = "";
                            if (cont_pic == 1)
                            {
                                classPic = "tab-pane active";
                            }
                            else
                            {
                                classPic = "tab-pane";
                            }

                            <div class="@classPic" id="@picNum"><img style="object-fit: contain; height:340px; background-color:white" src="@Url.Content("~/ImagenesUsers/" + Model.Tienda.Id + "/Servicios/" + System.IO.Path.GetFileName(imagen.DireccionImagen))" /></div>
                            cont_pic++;
                        }

                    }
                </div>
                <ul class="preview-thumbnail nav nav-tabs">
                    @{

                        int cont_picPrev = 1;
                        foreach (var imagen in Model.Imagenes)
                        {
                            string picNum = "#pic-" + cont_picPrev;
                            string classPic = "";
                            if (cont_pic == 1)
                            {
                                classPic = "active";
                            }
                            else
                            {
                                classPic = "";
                            }

                            <li class="@classPic"><a data-target="@picNum" data-toggle="tab"><img style="object-fit: contain; height:70px; background-color:white" src="@Url.Content("~/ImagenesUsers/" + Model.Tienda.Id + "/Servicios/" + System.IO.Path.GetFileName(imagen.DireccionImagen))" /></a></li>
                            cont_picPrev++;
                        }

                    }
                </ul>

            </div>
            <div class="details col-md-6">
                <h3 class="product-title">@Model.Nombre</h3>
                <div class="rating">
                    <div class="stars">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </div>
                    <span class="review-no">Tienda: <a href="@Url.Action("Tienda","Home", new { id = Model.Tienda.Id})">@Model.Tienda.Nombre</a></span>
                </div>
                <p class="card-text">@Model.Descripcion.</p>
                <h5 class="card-text">Precio: <span>$@Decimal.Parse(Model.Precio.ToString(), System.Globalization.NumberStyles.Float)</span></h5>
                <div class="action">

                    <a class="add-to-cart btn btn-default" href="@Url.Action("AgregarAlCarro", "CarroCompra", new { idServicio = Model.Id })">Cotizar</a>

                </div>
            </div>
        </div>
    </div>

</div>

<div class="card" style="margin-left: 15px;
        margin-right: 15px;
        background-color: #fff;
        border-radius: 0px !important;
        border-top:0px;
        margin-top: 0px !important">
    <div class="body-content">
        <div class="row">
            <div class="col-12">

                <input value="@Model.Id" name="idServicio" hidden />
                <textarea class="form-control" placeholder="Escribe un comentario" rows="4" id="textAreaComment" name="comentario" aria-label="With textarea"></textarea>
                <div style="width:100%; text-align:right; padding-top:5px"><button type="button" onclick="enviarComentario(@Model.Id)" class="btn btn-success">Comentar</button></div>

                <hr />
                <div class="card-text" id="comentariosCount" style="margin-bottom:14px">@Model.Comentarios.Count Comentarios</div>
                <div id="contenedorComentarios">

                    @foreach (var item in Model.Comentarios)
                    {
                        <div class="card" style="background-color:white!important; padding: 0px!important; margin-top:10px">
                            <div class="card-body">
                                <h5 class="card-title">@item.Usuario.Nombre</h5>
                                <p id="content-body-@item.Id" class="card-text">@item.Mensaje</p>
                            </div>
                            <div class="card-footer text-muted row" style="margin-left:0px!important; margin-right:0px!important">
                                <div id="content-footer-@item.Id" style="display:inline; width:50%">@item.Fecha.ToString()</div>

                                @if (Session["Id"] != null)
                                {
                                    if ((int)Session["Id"] == item.Usuario.Id)
                                    {
                                        <div style="display:inline; width:50%; text-align:right">
                                            <a href="#" class="material-icons" style="color:green" data-toggle="modal" data-target="#editarModal" data-id="@item.Id" data-commentary="@item.Mensaje" id="btnEdit">edit</a>
                                            <a href="@Url.Action("EliminarComentario","Servicio", new { id = item.Id, servicio_id = Model.Id })" style="color:red" class="material-icons" title="Editar" id="btnDelete">delete_outline</a>

                                        </div>

                                    }
                                }
                            </div>
                        </div>
                    }
                </div>

            </div>
        </div>
    </div>


</div>


<!-- Editar Modal-->
<div class="modal fade" style="display:none;" id="editarModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"> Edita tu comentario </h5>
            </div>
            <div class="modal-body">
                <textarea class="form-control" rows="4" id="textAreaCommentEdit" name="comentario" aria-label="With textarea"></textarea>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                <a style="color:white" class="btn btn-danger btn-ok">Aceptar</a>

            </div>
        </div>
    </div>
</div>


<style>
    .breadcrumb-style {
        margin-bottom: 0px !important;
        border-radius: 0px;
        background-color: #fff;
        border-right: 1px solid rgba(0,0,0,.125);
        border-left: 1px solid rgba(0,0,0,.125);
        border-top: 1px solid rgba(0,0,0,.125);
    }

    .comment-wrapper .panel-body {
        max-height: 650px;
        overflow: auto;
    }

    .comment-wrapper .media-list .media img {
        width: 64px;
        height: 64px;
        border: 2px solid #e5e7e8;
    }

    .comment-wrapper .media-list .media {
        border-bottom: 1px dashed #efefef;
        margin-bottom: 25px;
    }
</style>

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
{
    @Html.AntiForgeryToken()
}

@section scripts{
    <script>
        $(document).on("click", "#btnEdit", function () {
         var dataId = $(this).data('commentary');
         $(".modal-body #textAreaCommentEdit").val(dataId);
        });

        $('#editarModal').on('show.bs.modal', function (e) {
            var data = $(e.relatedTarget).data();
            $('.btn-ok', this).data('comentario_id', data.id);
        });

        $('#editarModal').on('click', '.btn-ok', function (e) {
            var $id = $(this).data('comentario_id');
            var $mensajeEdit = document.getElementById("textAreaCommentEdit");

            var form = $('#__AjaxAntiForgeryForm');
            var token = $('input[name="__RequestVerificationToken"]', form).val();
            $.ajax({
                type: "POST",
                url: "/Servicio/EditarComentarioAction",
                data: {
                    __RequestVerificationToken: token,
                    id: $id,
                    servicio_id: @Model.Id,
                    mensajeEdit: $mensajeEdit.value
                },
                success: function (result) {
                    if (result.exito == false) {
                        alert("La operación no ha podido completarse");
                    }
                    else {
                        $('#editarModal').modal('toggle');

                        var comentario = JSON.parse(result.respuesta);
                        var cBodyId = "content-body-" + comentario.id;
                        var cFooterId = "content-footer-" + comentario.id;

                        document.getElementById(cBodyId).innerHTML = comentario.Mensaje;
                        document.getElementById(cFooterId).innerHTML = comentario.Fecha;
                    }
                },
                error: function (response) {
                    //debugger;
                    //alert('eror');
                }
            });
        });
    </script>
    <script>

        //Esconder Carousel en esta vista

        document.getElementById("myCarousel").style.display = "none";
    </script>
    <script>
        function enviarComentario(id) {

            var $textAreaComment = document.getElementById("textAreaComment");

            if ($textAreaComment.value == "") {
                return;
            }

            var form = $('#__AjaxAntiForgeryForm');
            var token = $('input[name="__RequestVerificationToken"]', form).val();

            $.ajax({
                type: "POST",
                url: "/Servicio/Comentar",
                data: {
                    __RequestVerificationToken: token,
                    idServicio: id,
                    comentario: $textAreaComment.value
                },
                success: function (result) {
                    if (result.exito == false) {
                        alert(result.respuesta);
                    }
                    else if (result.exito == true) {
                        var comentario = JSON.parse(result.respuesta);
                        AgregarComentario(comentario);
                    }
                },
                error: function (response) {
                    alert("error");
                }
            });
        }

        function AgregarComentario(comentario) {


            //$("#contenedorComentarios").prepend("<div class='card' style='background-color:white!important; padding: 0px!important; margin-top:10px'><div class='card-body'><h5 class='card-title'>" + comentario.NombreUsuario + "</h5><p class='card-text'>" + comentario.Mensaje + "</p></div><div class='card-footer text-muted row' style='margin-left:0px!important; margin-right:0px!important'><div id='content-footer-' style='display:inline; width:50%'>" + comentario.Fecha + "</div><div style='display:inline; width:50%; text-align:right'><a href='#' class='material-icons' style='color:green' data-toggle='modal' data-target='#editarModal' data-id='item.Id' data-commentary='item.Mensaje' id='btnEdit'>edit</a>  <a href='Url.Action("EliminarComentario","Productos", new { id = item.Id, producto_id = Model.Id })' style='color:red' class='material-icons' title='Editar' id='btnDelete'>delete_outline</a> </div></div></div>");

            $("#contenedorComentarios").prepend("<div class='card' style='background-color:white!important; padding: 0px!important; margin-top:10px'><div class='card-body'><h5 class='card-title'>" + comentario.NombreUsuario + "</h5><p class='card-text'>" + comentario.Mensaje + "</p></div><div class='card-footer text-muted'>" + comentario.Fecha + "</div></div>");

            var c = @Model.Comentarios.Count + 1;
            document.getElementById("comentariosCount").innerHTML = c + " Comentarios";

            location.reload();
        }

    </script>

}


