@model TiendaOnline.Models.Producto

@{
    ViewBag.Title = "VerProducto";
}

<link href="~/Content/VerProducto/product-view.css" rel="stylesheet">

<br />
<nav aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-style" style="margin-left:15px; margin-right:15px;">
        <li class="breadcrumb-item"><a href="#">Inicio</a></li>
        <li class="breadcrumb-item"><a href="#">@Model.Tienda.Nombre</a></li>
        <li class="breadcrumb-item active" aria-current="page">@Model.Nombre</li>
    </ol>
</nav>
<div class="card" style="margin-left: 15px;
        margin-right: 15px;
        background-color: #fff;
        border-radius: 0px !important;
        margin-top: 0px !important">

    <div class="container-fliud">
        <div class="wrapper row">
            <div class="preview col-md-6">

                <div class="preview-pic tab-content">
                    @{

                        int cont_pic = 1;
                        foreach (var imagen in Model.Imagenes)
                        {
                            string picNum = "pic-" + cont_pic;
                            string classPic = "";
                            if (cont_pic == 1)
                            {
                                classPic = "tab-pane active";
                            }
                            else
                            {
                                classPic = "tab-pane";
                            }

                            <div class="@classPic" id="@picNum"><img style="object-fit: contain; height:340px; background-color:white" src="@Url.Content("~/ImagenesUsers/" + Model.Tienda.Id + "/Productos/" + System.IO.Path.GetFileName(imagen.DireccionImagen))" /></div>
                            cont_pic++;
                        }

                    }
                </div>
                <ul class="preview-thumbnail nav nav-tabs">
                    @{

                        int cont_picPrev = 1;
                        foreach (var imagen in Model.Imagenes)
                        {
                            string picNum = "#pic-" + cont_picPrev;
                            string classPic = "";
                            if (cont_pic == 1)
                            {
                                classPic = "active";
                            }
                            else
                            {
                                classPic = "";
                            }

                            <li class="@classPic"><a data-target="@picNum" data-toggle="tab"><img style="object-fit: contain; height:70px; background-color:white" src="@Url.Content("~/ImagenesUsers/" + Model.Tienda.Id + "/Productos/" + System.IO.Path.GetFileName(imagen.DireccionImagen))" /></a></li>
                            cont_picPrev++;
                        }

                    }
                </ul>

            </div>
            <div class="details col-md-6">
                <h3 class="product-title">@Model.Nombre</h3>
                <div class="rating">
                    <div class="stars">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </div>
                    <span class="review-no">Tienda: <a href="@Url.Action("Tienda","Home", new { id = Model.Tienda.Id})">@Model.Tienda.Nombre</a></span>
                </div>
                <p class="card-text">@Model.Descripcion.</p>
                <h5 class="card-text">Precio: <span>$@Decimal.Parse(Model.Precio.ToString(), System.Globalization.NumberStyles.Float)</span></h5>
                <div class="action">
                    <button class="add-to-cart btn btn-default" type="button">Agregar al Carro</button>
                </div>
                <p class="card-text">
                    Comentarios:
                </p>
            </div>
        </div>
    </div>

</div>

<div class="card" style="margin-left: 15px;
        margin-right: 15px;
        background-color: #fff;
        border-radius: 0px !important;
        border-top:0px;
        margin-top: 0px !important">
    <div class="body-content">
        <div class="row">
            <div class="col-12">

                <input value="@Model.Id" name="idProducto" hidden />
                <textarea class="form-control" rows="4" id="textAreaComment" name="comentario" aria-label="With textarea"></textarea>
                <button type="button" onclick="enviarComentario(@Model.Id)" class="btn btn-success">Comentar</button>

                @foreach (var item in Model.Comentarios)
                {
                    <div class="card" style="background-color:white!important; padding: 0px!important; margin-top:10px">
                        <div class="card-body">
                            <h5 class="card-title">@item.Usuario.Nombre</h5>
                            <p class="card-text">@item.Mensaje</p>
                        </div>
                        <div class="card-footer text-muted">
                            @item.Fecha.ToString()
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>


</div>



<style>
    .breadcrumb-style {
        margin-bottom: 0px !important;
        border-radius: 0px;
        background-color: #fff;
        border-right: 1px solid rgba(0,0,0,.125);
        border-left: 1px solid rgba(0,0,0,.125);
        border-top: 1px solid rgba(0,0,0,.125);
    }

    .comment-wrapper .panel-body {
        max-height: 650px;
        overflow: auto;
    }

    .comment-wrapper .media-list .media img {
        width: 64px;
        height: 64px;
        border: 2px solid #e5e7e8;
    }

    .comment-wrapper .media-list .media {
        border-bottom: 1px dashed #efefef;
        margin-bottom: 25px;
    }
</style>

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
{
    @Html.AntiForgeryToken()
}

@section scripts{
    <script>
        //Esconder Carousel en esta vista
        document.getElementById("myCarousel").style.display = "none";
    </script>

    <script>
        function enviarComentario(id) {
            var $textAreaComment = document.getElementById("textAreaComment");

            if ($textAreaComment.value == "") {
                return;
            }

            var form = $('#__AjaxAntiForgeryForm');
            var token = $('input[name="__RequestVerificationToken"]', form).val();

            $.ajax({
                type: "POST",
                url: "/Productos/Comentar",
                data: {
                    __RequestVerificationToken: token,
                    idProducto: id,
                    comentario: $textAreaComment.value
                },
                success: function (result) {
                    if (result.exito == false) {
                        alert(result.respuesta);
                    }
                    else if (result.exito == true) {
                        alert(result.respuesta);

                    }
                },
                error: function (response) {
                    alert("error");
                }
            });
        }

    </script>

}
