@model TiendaOnline.Models.SolicitudCotizacion
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutTienda.cshtml";
}
    <div class="card" style="margin:15px">
        <div class="card-header">
            Solicitud
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table">
                    <tbody>
                        <tr>
                            <th scope="row">@Html.DisplayNameFor(model => model.Codigo)</th>
                            <td>@Html.DisplayFor(model => model.Codigo)</td>
                            <th scope="row">@Html.DisplayNameFor(model => model.Fecha)</th>
                            <td>@Html.DisplayFor(model => model.Fecha)</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <hr />
        <div class="card-body">
            <table class="table">
                <tbody>
                    <tr>
                        <th scope="row">Nombre</th>
                        <td>@Html.DisplayFor(model => model.Usuario.Nombre)</td>
                        <th scope="row">Apellido</th>
                        <td>@Html.DisplayFor(model => model.Usuario.Apellido)</td>
                    </tr>
                    <tr>
                        <th scope="row">Correo</th>
                        <td>@Html.DisplayFor(model => model.Usuario.Email)</td>
                        <th scope="row">Nombre Usuario</th>
                        <td>@Html.DisplayFor(model => model.Usuario.NombreUsuario)</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <hr />
        <div class="card-body">

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Categoría</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Servicios)
                    {
                    <tr>
                        <th scope="row">1</th>
                        <td>@Html.DisplayFor(modelItem => item.Nombre)</td>
                        <td>@Html.DisplayFor(modelItem => item.Categoria.NombreCategoria)</td>
                    </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
    <div class="text-center" style="width:100%">
        @*<a class="btn btn-primary" href="@Url.Action("ProgramarCitas", "AppointmentSchedule", new {idCotizacion = Model.Id })" style="color:white">Crear Cotización</a>*@
        <a class="btn btn-primary" href="@Url.Action("CrearCotizacion", "Cotizacion", new { manual = false, solicitudId = Model.Id })" style="color:white">Crear Cotización</a>
    </div>