@model TiendaOnline.Clases.TiendaHome

@{
    ViewBag.Title = "Tienda";
    Layout = "~/Views/Shared/_LayoutTiendaInicio.cshtml";
}
@* MAPA *@
<script src='https://api.mapbox.com/mapbox-gl-js/v1.11.1/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v1.11.1/mapbox-gl.css' rel='stylesheet' />

<!-- ICONOS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- HOJAS DE DISEÑO -->
<link rel="stylesheet" href="~/Content/Tienda/tienda-inicio.css" />

<div class="card" style="height:150px; background-image:url(https://i.imgur.com/2e2nXD6.jpg)">

    <div style="text-align:center">
        <a title="@Model.Tienda.Nombre" class="twPc-avatarLink shadow-sm">
            @if (Model.Tienda.ImageProfile != null)
            {
                <img src="@Url.Content("~/ImagenesUsers/" + Model.Tienda.Id + "/Logos/" + System.IO.Path.GetFileName(Model.Tienda.ImageProfile.DireccionImagen))" class="twPc-avatarImg">
            }

        </a>
    </div>
</div>
<div class="jumbotron" style="background-color: #ffeb74; text-align:center; width:100%; border-radius:0px">
    <br />
    <h1 class="display-4">@Model.Tienda.Nombre</h1>
    <p class="lead">
        Bienvenido a @Model.Tienda.Nombre, tienda especializada en venta de repuestos originales y alternativos para vehículos
        <br /> de diferentes marcas y modelos.
    </p>
    <hr class="my-4">
    <div class="row">
        <div style="width:75%; margin-top:35px">
            <div class="row" style="margin-bottom:30px">
                <p style="width:50%; font-size:20px"><i class="fa fa-map-marker" aria-hidden="true"></i> @Model.Tienda.Direccion</p>
                <p style="width:50%; font-size:20px"><i class="fa fa-building" aria-hidden="true"></i> @Model.Tienda.Local</p>
            </div>
            <div class="row">
                <p style="width:50%; font-size:20px"><i class="fa fa-envelope" aria-hidden="true"></i> @Model.Tienda.Correo</p>
                <p style="width:50%; font-size:20px"><i class="fa fa-phone" aria-hidden="true"></i> @Model.Tienda.Telefono</p>
            </div>
        </div>
        <div style="margin-left:auto; margin-right:0">
            <div><div id='map' style='width: 300px; height: 200px;'></div></div>
        </div>
    </div>


    <!--
        <div class="rating">
            <div class="stars">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
            </div>
        </div>

        <a class="btn btn-primary btn-xs" href="#" role="button">Leer comentarios</a>
    -->
</div>


<div class="card-group" style="margin:15px">
    <div class="card">
        <div class="row no-gutters">
            <div class="col-auto">
                <img src="https://i.imgur.com/8XkIdYl.jpg" width="100" class="img-fluid" alt="">
            </div>
            <div class="col">
                <div class="card-block px-3 pt-xl-3">
                    <h4 class="card-title">Productos</h4>
                    <p class="card-text">Description</p>
                </div>
            </div>
        </div>

        <a href="@Url.Action("Tienda","Home", new { seccion = "producto"})" class="stretched-link"></a>
    </div>
    <div class="card">
        <div class="row no-gutters">
            <div class="col-auto">
                <img src="https://i.imgur.com/2Pmixay.png" width="100" class="img-fluid" alt="">
            </div>
            <div class="col">
                <div class="card-block px-3 pt-xl-3">
                    <h4 class="card-title">Servicios</h4>
                    <p class="card-text">Description</p>
                </div>
            </div>
        </div>
        <a href="@Url.Action("Tienda","Home", new { seccion = "servicio"})" class="stretched-link"></a>
    </div>
</div>

<div class="row" style="margin-left:10px; margin-right:10px">

    <div class="col mb-4 container-tienda-right">

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-style">
                <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Inicio</a></li>
                <li class="breadcrumb-item"><a href="@Url.Action("Tienda","Home", new { id = Model.Tienda.Id})">@Model.Tienda.Nombre</a></li>
                <li class="breadcrumb-item active" aria-current="page">
                    @ViewBag.Seccion
                </li>
            </ol>
        </nav>


        @*@using (Html.BeginForm("Tienda", "Home"))
            {
                <div class="card" style="cursor: pointer; border-radius:0px; border-bottom: 0px">
                    <div class="card-body">
                        <div class="input-group mb-3" style="margin-bottom: 0px!important">
                            <input value="@Model.Tienda.Id" name="tiendaId" hidden />
                            <input value="@ViewBag.Tienda.Seccion" name="seccion" hidden />
                            <input type="text" class="form-control" name="search" placeholder="Buscar en @Model.Tienda.Nombre" aria-label="Buscar en @Model.Tienda.Nombre" aria-describedby="button-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="submit" id="button-addon2"><i class="fas fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            }*@

        <div class="card" style="cursor: pointer; border-radius:0px; border-bottom: 0px">
            <div class="card-body" style="text-align:center">
                <div class="input-group mb-3" style="margin-bottom: 4px!important">
                    <input value="@Model.Tienda.Id" name="tiendaId" hidden />
                    <input value="@ViewBag.Seccion" name="seccion" hidden />
                    <input type="text" class="form-control" name="search" placeholder="Marca" aria-label="Buscar en @Model.Tienda.Nombre" aria-describedby="button-addon2">
                </div>
                <div class="input-group mb-3" style="margin-bottom: 4px!important">
                    <input value="@Model.Tienda.Id" name="tiendaId" hidden />
                    <input value="@ViewBag.Seccion" name="seccion" hidden />
                    <input type="text" class="form-control" name="search" placeholder="Modelo" aria-label="Buscar en @Model.Tienda.Nombre" aria-describedby="button-addon2">
                </div>
                <div class="input-group mb-3" style="margin-bottom: 4px!important">
                    <input value="@Model.Tienda.Id" name="tiendaId" hidden />
                    <input value="@ViewBag.Seccion" name="seccion" hidden />
                    <input type="text" class="form-control" name="search" placeholder="Año" aria-label="Buscar en @Model.Tienda.Nombre" aria-describedby="button-addon2">
                </div>
                <button class="btn btn-primary">Buscar</button>
            </div>
        </div>
        <div class="card" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample" style="cursor: pointer; border-radius:0px">
            <div class="card-body">
                <h6 class="card-title">Categorías @Model.Tienda.Nombre</h6>
            </div>
        </div>

        <div class="list-group collapse" id="collapseExample" style="border-radius:0px">
            @foreach (var categoria in ViewBag.Categorias)
            {
                <a href="@Url.Action("Tienda","Home", new { categoriaId = @categoria.Id, seccion = ViewBag.Seccion })" class="list-group-item list-group-item-action">@categoria.NombreCategoria</a>
            }
        </div>
    </div>

    @if (ViewBag.Seccion.Equals("producto"))
    {
        <div class="col-xs-12 col-sm-9 container-tienda-left">

            <div class="card card-header-product">
                <div class="card-body card-pagination">
                    <div class="align-items-end d-flex justify-content-end">
                        <div style="width:50%">
                            <div class="btn-group">
                                <button id="btnViewProduct" class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Ordenar por
                                </button>
                                <div class="dropdown-menu" id="dropmenuViewProducts">
                                    <a class="dropdown-item" data-value="@TiendaOnline.Clases.TiendaHome.ViewProductType.Grid">Grid</a>
                                    <a class="dropdown-item" data-value="@TiendaOnline.Clases.TiendaHome.ViewProductType.List">List</a>
                                </div>
                            </div>
                            <div class="btn-group">
                                <button id="btnOrderBy" class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Ordenar por
                                </button>
                                <div class="dropdown-menu" id="dropmenuOrderProducts">
                                    <a class="dropdown-item" href="#">Relevancia</a>
                                    <a class="dropdown-item" data-value="@TiendaOnline.Models.Producto.OrderByType.PrecioDescendente">Mayor Precio</a>
                                    <a class="dropdown-item" data-value="@TiendaOnline.Models.Producto.OrderByType.PrecioAscendente">Menor Precio</a>
                                </div>
                            </div>
                        </div>
                        <div class="align-items-end d-flex justify-content-end" style="width:50%">
                            <ul class="pagination" style="margin-bottom: 0px!important">
                                @for (int i = 1; i <= ViewBag.PageCount; i++)
                                {
                                    <li class="page-item"><a class="page-link" href="@Url.Action("Tienda", "Home", new { page = i })">@i</a></li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            @Html.Action("_PartialProducts", "Tienda", new { viewProductType = Model.ViewProductEnumType, productos = Model.Productos });

        </div>
    }
    else if (ViewBag.Seccion.Equals("servicio"))
    {
        <div class="col-xs-12 col-sm-9 container-tienda-left">

            <div class="card card-header-product">
                <div class="card-body card-pagination">
                    <div class="align-items-end d-flex justify-content-end">
                        <ul class="pagination" style="margin-bottom: 0px!important">
                            @for (int i = 1; i <= ViewBag.PageCount; i++)
                            {
                                <li class="page-item"><a class="page-link" href="@Url.Action("Tienda","Home", new { page = i })">@i</a></li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                @{

                    foreach (var item in ViewBag.PaginatedProducts)
                    {
                        <div class="col-sm-3">
                            <div class="card card-product" onclick="location.href='@Url.Action("VerServicio", "Servicio", new { id = item.Id })';">
                                @{
                                    if (item.Imagenes.Count > 0)
                                    {
                                        <img class="img-product" src="@Url.Content("~/ImagenesUsers/" + item.Tienda.Id + "/Servicios/" + System.IO.Path.GetFileName(item.Imagenes[0].DireccionImagen))" alt="...">
                                    }
                                }

                                <div class="card-body">
                                    <h6 class="card-title">
                                        <span class="d-inline-block text-truncate text-product">
                                            @item.Nombre
                                        </span>
                                    </h6>
                                </div>
                                <div class="card-footer card-footer-product">
                                    <small class="text-muted small-product-size">$@Decimal.Parse(item.Precio.ToString(), System.Globalization.NumberStyles.Float)</small>
                                </div>
                            </div>
                        </div>
                    }
                }


            </div>
        </div>
    }
</div>

<script>
    var currentMarker = null;
    var latitud = @Html.Raw(Json.Encode(Model.Tienda.Latitud));
    var longitud = @Html.Raw(Json.Encode(Model.Tienda.Longitud));

    mapboxgl.accessToken = 'pk.eyJ1IjoiemVyb2RzIiwiYSI6ImNrM2t3cG0xNzB5bzgzam12dHdwY2luMXgifQ.3qy4aurdz4Vjp4QNr1-feg';
    var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v11',
        center: [longitud, latitud],
        zoom: 13
    });

    function createMarker(currentMarker, longitud, latitud) {
        currentMarker = new mapboxgl.Marker()
        .setLngLat([longitud, latitud])
        .addTo(map);

        return currentMarker;
    }

    createMarker(currentMarker, longitud, latitud);
</script>

<script>

    document.getElementById("btnOrderBy").innerHTML = "Ordenar por " + @Html.Raw(Json.Encode(Model.OrderByProductName));
    document.getElementById("btnViewProduct").innerHTML = "Mostrar por " + @Html.Raw(Json.Encode(Model.ViewTypeName));

    $('#dropmenuOrderProducts a').click(function () {
        var orderType = $(this).data("value");
        sortProduct(orderType);
    });

    $('#dropmenuViewProducts a').click(function () {
        var productView = $(this).data("value");
        viewProduct(productView);
    });
    //document.getElementById("btnOrderBy").addEventListener("click", sortProduct);

    function sortProduct(orderType) {
        $.ajax({
            type: "POST",
            url: "/Home/OrdenarProductos",
            data: {
                orderType: orderType
            },
            success: function (result) {
                if (result.exito == false) {
                }
                else {

                    location.reload(true);
                }
            },
            error: function (response) {
                //debugger;
                //alert('eror');
            }
        });
    }
    function viewProduct(productView) {
    $.ajax({
        type: "POST",
        url: "/Home/ListarProductosGridList",
        data: {
            productView: productView
        },
        success: function (result) {
            if (result.exito == false) {
            }
            else {

                location.reload(true);
            }
        },
        error: function (response) {
            //debugger;
            //alert('eror');
        }
    });
    }
</script>


<style>
    .checked {
        color: orange;
    }

    .fa-star {
        font-size: 25px;
    }

    .rating {
        margin-bottom: 10px;
    }

    .jumbotron {
        margin-bottom: 1.1rem;
    }


    .breadcrumb-style {
        margin-bottom: 0px !important;
        border-radius: 0px;
        background-color: #fff;
        border-right: 1px solid rgba(0,0,0,.125);
        border-left: 1px solid rgba(0,0,0,.125);
        border-top: 1px solid rgba(0,0,0,.125);
    }
</style>
<style>
    .twPc-div {
        background: #fff none repeat scroll 0 0;
        border: 1px solid #e1e8ed;
        border-radius: 6px;
        height: 200px;
        width: 100%;
        // orginal twitter width: 290px;
    }

    .twPc-bg {
        background-image: url("https://pbs.twimg.com/profile_banners/50988711/1384539792/600x200");
        background-position: 0 50%;
        background-size: 100% auto;
        border-bottom: 1px solid #e1e8ed;
        border-radius: 4px 4px 0 0;
        height: 95px;
        width: 100%;
    }

    .twPc-block {
        display: block !important;
    }

    .twPc-button {
        margin: -35px -10px 0;
        text-align: right;
        width: 100%;
    }

    .twPc-avatarLink {
        background-color: #fff;
        border-radius: 6px;
        display: inline-block !important;
        margin-top: 90px;
        width: 120px;
        height: 118px;
        padding: 1px;
        vertical-align: central;
    }

    .twPc-avatarImg {
        border: 2px solid #fff;
        border-radius: 7px;
        box-sizing: border-box;
        color: #fff;
        width: 110px;
        height: 110px;
    }

    .twPc-divUser {
        margin: 5px 0 0;
    }

    .twPc-divName {
        font-size: 18px;
        font-weight: 700;
        line-height: 21px;
    }

        .twPc-divName a {
            color: inherit !important;
        }

    .twPc-divStats {
        margin-left: 11px;
        padding: 10px 0;
    }

    .twPc-Arrange {
        box-sizing: border-box;
        display: table;
        margin: 0;
        min-width: 100%;
        padding: 0;
        table-layout: auto;
    }

    ul.twPc-Arrange {
        list-style: outside none none;
        margin: 0;
        padding: 0;
    }

    .twPc-ArrangeSizeFit {
        display: table-cell;
        padding: 0;
        vertical-align: top;
    }

        .twPc-ArrangeSizeFit a:hover {
            text-decoration: none;
        }

    .twPc-StatValue {
        display: block;
        font-size: 18px;
        font-weight: 500;
        transition: color 0.15s ease-in-out 0s;
    }

    .twPc-StatLabel {
        color: #8899a6;
        font-size: 10px;
        letter-spacing: 0.02em;
        overflow: hidden;
        text-transform: uppercase;
        transition: color 0.15s ease-in-out 0s;
    }
</style>